<header class="w-full max-w-6xl px-8 pt-3 flex items-center justify-between">
  <button onclick="location.href='/'" class="px-5 py-3 bg-zinc-700 hover:bg-zinc-900 rounded-full transition shadow-md">←</button>
  <h1 class="text-xl font-bold tracking-wide">FileHub</h1>
</header>
