<header class="w-full max-w-6xl px-8 py-5 flex items-center justify-between">
  <button onclick="window.location.href='/'" class="px-5 py-3 bg-zinc-700 hover:bg-zinc-900 cursor-pointer rounded-full transition duration-300 shadow-md">←</button>
  <h1 class="text-xl font-bold tracking-wide">FileHub</h1>
</header>
