<div class="container mx-auto py-16 px-4 max-w-xl">

  <div class="relative rounded-2xl border border-white/10 shadow-2xl overflow-hidden">

    <div class="absolute inset-0 bg-black/20 backdrop-blur-md"></div>

    <form action="/edit/<%= id %>" method="POST" class="relative flex flex-col gap-6 p-10">

      <h1 class="text-2xl text-center">Edit File</h1>

      <input name="newName" value="<%= filename %>" 
        class="p-4 rounded bg-white/10" />

      <textarea name="description" class="p-4 rounded bg-white/10">
<%= description %>
      </textarea>

      <button class="bg-yellow-600 py-3 rounded-lg">
        Save
      </button>

    </form>

  </div>

</div>